<template name="taskEdit">

  <form name="comment" class="comment-form">
    <h3>Edit Task</h3>
    <div class="control-group">
      <label class="control-label" for="title">Title</label>
      <div class="controls">
        <input name="title" type="text" value="{{taskTitle}}" placeholder="Homework 1" maxlength="100"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="dueDate">Due Date</label>
      <div class="controls">
        <input name="dueDate" type="date" value="{{taskDueDate}}"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="notes">Notes</label>
      <div class="controls">
        <input name="notes" type="textarea" rows="4" cols="50" value="{{taskNotes}}" maxlength="5000"/>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn"> Edit Task</button>
      </div>
    </div>
    {{#if ownTask}}
    <hr/>
    <div class="control-group">
      <div class="controls">
        <a class="btn btn-danger remove" href="#">Remove Task</a>
      </div>
    </div>
    {{/if}}
  </form>
</template>
