<template name="taskEdit">

  <form name="comment" class="comment-form">
    <h3>Edit Task</h3>
    <div class="control-group">
      <label class="control-label" for="title">Title</label>
      <div class="controls">
        <input name="title" type="text" value="{{taskTitle}}" placeholder="Homework 1" maxlength="100"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="dueDate">Due Date</label>
      <div class="controls">
        <input name="dueDate" type="date" value="{{taskDueDate}}"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="percentOfGrade">Percent of Grade</label>
      <div class="controls">
        <input name="percentOfGrade" type="text" value="{{taskPercentOfGrade}}" maxlength="50"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Type</label>
      <div class="controls">
        <input name="taskType" type="radio" value="test" {{taskTypeTest}}/> Test <br>
        <input name="taskType" type="radio" value="assignment" {{taskTypeAssignment}}/> Assignment
      </div>
    </div>


    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn"> Edit Task</button>
        </div>
    </div>
    {{#if ownTask}}
    <hr/>
    <div class="control-group">
      <div class="controls">
        <a class="btn btn-danger delete" href="#">Delete Task</a>
      </div>
    </div>
    {{/if}}
  </form>
</template>
