<template name="taskSubmit">
  
  <form name="comment" class="comment-form">
    <h3>Add New Task</h3>  
    <div class="control-group">
      <label class="control-label" for="title">Title</label>
      <div class="controls">
        <input name="title" type="text" value="" placeholder="Homework 1" maxlength="100"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="dueDate">Due Date</label>
      <div class="controls">
        <input name="dueDate" type="date" value=""/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="notes">Notes</label>
      <div class="controls">
        <input name="notes" type="textarea" value="" rows="4" cols="50" maxlength="5000"/>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn">Add Task</button>
      </div>
    </div>
  </form>
</template>
